<!-- Edit Event Modal -->
<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="event">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit event {{event.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="editEventDate">Name:</label>
              <input type="text" class="form-control" name="editEventDate" id="editEventDate" [(ngModel)]="newName" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="addEventDate">Date</label>
              <input type="date" class="form-control" name="addEventDate" id="addEventDate" [(ngModel)]="newDate" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="addEventPromotion">Promotion</label>
              <select class="form-control" name="addEventPromotion" id="addEventPromotion" [(ngModel)]="newPromotion" required>
                <option *ngFor="let promotion of promotions;">{{promotion.abr}}</option>
              </select>
            </div>
          </div>
        </form>
        <br>
        <div class="alert alert-success" role="alert" *ngIf="success">
          Event edited successfully.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{this.errorMessage}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="editEvent()">Save changes</button>
      </div>
    </div>
  </div>
</div>
